@font-face {
    font-family: 'inter-500';
    src: url('/Font/inter-variablefont_slntwght-webfont.woff2') format('woff2'),
         url('/Font/inter-variablefont_slntwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Default value */

html{
    font-size: 62.5%;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utility area*/
:root{
    --primary-border-color: #1D1E4C;
    --primary-link-color: #0A4EFF;
    --primary-text-color: #000000;
    --primary-background-color: #E5E5FD;
}

body{
    font-family: inter-500;
}
 
img{
    display: block;
    height: 392px;
    width: 314px;
}

h1{
    font-size: 72px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
p{
    font-size: 16px;
}

.flex{
    display: flex;
    flex-direction: row;
}

.container{
    max-width: 90%;
    margin:0 auto;
    background-color:var(--primary-background-color);
}

/* BEGIN */
html{
    display: flex;
    justify-content: center;    
    background-color: white;
}

body{
    width: 1044px;
    height: 1280px;
    border: 16px solid var(--primary-border-color,#1D1E4C);
    background-color:var(--primary-background-color, #E5E5FD);
}

/* header section */
img{
    border-radius:15rem;
    box-shadow: 0 4px 4px rgb(0,0,0,0.25);
}

header{
    height: 40%;
    justify-content: space-between;
}

.header-image{
    align-items: end;
}

.header-info{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 7%;
    gap: 1.2rem;
}

/* main section */
main{
    height: 40%;
    margin-top: 10% !important;
}

li{
    font-size: 1.3rem;
}

main h1,h2{
    margin-bottom: 2rem;
}

ul{
    margin-bottom: 3rem;
    list-style: circle;
    list-style-position: inside;
}

main p{
    margin-bottom: 2rem;
}

main h4{
    margin-bottom: 2rem; 
}

/* footer */
footer{
    justify-content: flex-end;
    margin-top: 5% !important;
}

